<!-- {% extends 'flatpages/default.html' %}


{% block title %}
Post
{% endblock title %}


{% block content %}
{{ flatpage.content }}
<h1>{{ posts }}</h1>
{% endblock content %} -->



<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Bare - Start Bootstrap Template</title>
        {% load static %}
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        {% for p in post %}
        <p>{{post.title}} : {{post.dataCreations}} : {{post.author}}</p>
        {{post.text}}

        {% endfor %}
    </body>
</html>

